
html {
    scroll-behavior: smooth;
}
.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: var(--button-color);
    color: white;
}

.btn-primary:hover {
    background-color: #1d4ed8;
}

.btn-outline {
    border: 1px solid var(--button-color);
    color: var(--button-color);
}

.btn-outline:hover {
    background-color: #e6f0ff;
}

.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
}

.card {
    background-color: white;
    border: 1px solid #bfdbfe;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-header {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1e40af;
    display: flex;
    align-items: center;
}

.card-content {
    padding: 1rem;
}

.card-description {
    color: #3b82f6;
}

.card-footer {
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
}
#logo {
    width: 70px;
    filter: brightness(80%);
}